{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Inventorian | Liste Commandes{% endblock %}
{% block body %}
<div class="main-content mr-md-auto">
    <div class="header bg-gradient-primary">
        <div class="container">
            <table class="table table-bordered">
                <thead style="background-color: rgb(193, 122, 222); color: aliceblue;">
                    <th>ID</th>
                    <th>ID Client</th>
                    <th>ID Article</th>
                    <th>Date commande</th>
                    <th>Adresse de livraison</th>
                    <th>Prix total</th>
                    <th>État</th>
                </thead>
                <tbody>
                    {% for commande in commandes %}
                    <tr>
                        <td>
                            <a href="{{commande.id}}/details_commande"
                                style="font-size: 24px; color: rgb(193, 122, 222);">
                                <i class="fa-solid fa-arrow-right-to-bracket">&nbsp;&nbsp;{{commande.id}}</i></a>
                        </td>
                        <td>
                            <a href="{{commande.id_Client}}/details_client"
                                style="font-size: 24px; color: rgb(193, 122, 222);">
                                <i class="fa-solid fa-arrow-right-to-bracket">&nbsp;&nbsp;{{commande.id_Client}}</i></a>
                        </td>
                        <td>
                            <a href="{{commande.id_Product}}/details_article"
                                style="font-size: 24px; color: rgb(193, 122, 222);">
                                <i class="fa-solid fa-arrow-right-to-bracket">&nbsp;&nbsp;{{commande.id_Product}}</i></a>
                        </td>
                        <td>{{commande.dateComande}}</td>
                        <td>{{commande.adresseCommande}}</td>
                        <td>{{commande.TotalPrix}} MAD</td>
                        <td>{{commande.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}