body {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(241, 224, 247, 1) 100%, rgba(217, 173, 235, 1) 100%, rgba(193, 122, 222, 1) 100%);
    background-attachment: fixed;
}

/* Side bar */
.sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    padding: 50px 0 0;
    transition: 0.5s;
}

#close_button:hover {
    cursor: pointer;
}

#main:hover {
    cursor: pointer;
}
