{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Inventorian{% endblock %}
{% block body %}
<div class="main-content mr-md-auto">
    <div class="header bg-gradient-primary">
        <div class="container">
            <table class="table table-bordered">
                <thead style="background-color: rgb(193, 122, 222); color: aliceblue;">
                    <th>ID</th>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Déscription</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{product.id}}</td>
                        <td>
                            <img src="{{product.img}}" width="80" />
                        </td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td width="121">{{product.price}} MAD</td>
                        <td>{{product.qty}} Pcs.</td>
                        <td>{{product.category}}</td>
                        <td width="115" align="center">
                            <a href="/{{product.id}}/edit" style="font-size: 24px;color:rgb(193, 122, 222);"> <i
                                    class="fas fa-edit">&nbsp;</i></a>
                            <a href="/{{product.id}}/delete" style="font-size: 24px;color:rgb(193, 122, 222);"> <i
                                    class="fas fa-trash-alt">&nbsp;</i></a>
                            <a href="{{product.id}}/details_article"
                                style="font-size: 24px; color: rgb(193, 122, 222);">
                                <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}