{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %}Inventorian | Modifier Article{% endblock %}
{% block body %}
<div class="container">
  <form action="" method="POST">
    <table class="table">
      <tr>
        <td>Nom de l'article</td>
        <td><input type="text" name="name" class="form-control" value="{{products.name}}" required /></td>
      </tr>
      <tr>
        <td>Déscription</td>
        <td><textarea rows="6" name="description" class="form-control" required>{{products.description}}</textarea></td>
      </tr>
      <tr>
        <td>Prix unitaire (en MAD)</td>
        <td><input type="text" name="price" class="form-control" value="{{products.price}}" required /></td>
      </tr>
      <tr>
        <td>Quantité en stock</td>
        <td><input type="text" name="qty" class="form-control" value="{{products.qty}}" required /></td>
      </tr>
      <tr>
        <td>URL de l'image</td>
        <td><input type="text" name="img" class="form-control" value="{{products.img}}" required /></td>
      </tr>
      <tr>
        <td>Catégorie</td>
        <td>
          <select name="category" class="form-control" required>
            <option value="{{products.category}}">{{products.category}}</option>
            <option value="Supermarché">Supermarché</option>
            <option value="Beauté & Santé">Beauté & Santé</option>
            <option value="Vêtements & Chaussures">Vêtements & Chaussures</option>
            <option value="Accessoires Mode">Accessoires Mode</option>
            <option value="Maison & Cuisine">Maison & Cuisine</option>
            <option value="Téléphone & Tablette">Téléphone & Tablette</option>
            <option value="Électroménager">Électroménager</option>
            <option value="Sports & Loisirs">Sports & Loisirs</option>
            <option value="TV & Hi Tech">TV & Hi Tech</option>
            <option value="Informatique">Informatique</option>
            <option value="Bébé & Jouets">Bébé & Jouets</option>
            <option value="Autres">Autres</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" name="submit" value="Modifier" class="btn btn-default"
            style="background-color: rgb(193, 122, 222); color: aliceblue;" />
          <a href="/" class="btn btn-danger">Annuler</a>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}