{% extends 'base.html' %}
{% block title %}Inventorian | Liste Commandes{% endblock %}
{% block body %}
<div class="container mb-4">
    <h2 class="font-weight-bold">GAIN TOTAL</h2>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-muted mb-0">REVENUE</h5>
                    <span class="h2 font-weight-bold mb-0">{{'%0.2f'|format(revenue|float)}} MAD</span>
                </div>
                <div class="col-auto">
                    <i class="fa-solid fa-sack-dollar"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5 mb-4">
    <h2 class="font-weight-bold">COMMANDES</h2>
</div>
<div class="container">
    <table class="table table-bordered" style="background: white;">
        <thead style="background-color: rgb(193, 122, 222); color: aliceblue;">
            <th>ID</th>
            <th>Client</th>
            <th>Date commande</th>
            <th>Adresse de livraison</th>
            <th>Produit(s) commandé(s)</th>
            <th>Prix total</th>
            <th>Méthode de paiement</th>
            <th>État</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for commande in commandes %}
            <tr>
                <td>{{commande.id}}</td>
                <td align="center">
                    <a href="{{url_for('details_client', id=commande.id_Client)}}"
                        style="font-size: 24px; color: rgb(193, 122, 222);">
                        <i class="fa-solid fa-arrow-right-to-bracket">&nbsp;&nbsp;</i>
                    </a>
                </td>
                <td>{{commande.dateComande}}</td>
                <td>{{commande.adresseCommande}}</td>
                <td>
                    <table class="table table-bordered">
                        <thead style="background-color: rgb(193, 122, 222); color: aliceblue;">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Qte</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set liste_prods = commande.liste_product.split("\n") %}
                            {% for prod in liste_prods[:-1] %}
                            {% set info_prod = prod.split(":") %}
                            <tr>
                                <th scope="row">
                                    <a href="{{url_for('details_article', id=info_prod[0])}}"
                                        style="font-size: 24px; color: rgb(193, 122, 222);">
                                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                                    </a>
                                </th>
                                <td>{{info_prod[1]}}</td>
                                <td>{{info_prod[2]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td width="145">{{'%0.2f'|format(commande.TotalPrix|float)}} MAD</td>
                <td>{{commande.paiment_method}}</td>
                <td width="115">{{commande.status}}</td>
                <td align="center">
                    {% if commande.status == "Accepted" or commande.status == "Rejected" %}
                    <i class="fa-solid fa-check-double"></i>
                    {% elif commande.status == "Pending" %}
                    <form method="POST">
                        <button formaction="/{{commande.id}}/accepter_commande" type="submit"
                            style="background: transparent; border: none;">
                            <i class="fa-solid fa-square-check" style="font-size: 24px;color:green;"></i>
                        </button>
                        <br>
                        <button formaction="/{{commande.id}}/refuser_commande" type="submit"
                            style="background: transparent; border: none;">
                            <i class="fa-solid fa-square-xmark" style="font-size: 24px;color:red;"></i>
                        </button>
                        <br>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}