{% extends 'base.html' %}
{% block title %}Inventorian | Confirmer Suppression{% endblock %}
{% block body %}
<div class="container card text-center">
  <form action="" method="POST">
    <div class="card-body">
      <h5 class="card-title">Confirmer la suppression</h5>
      <p class="card-text">Est-ce que vous-êtes sûr?</p>
      <input type="submit" value="Oui" class="btn btn-danger" />
      <a href="{{url_for('liste_clients')}}" class="btn btn-default"
        style="background-color: rgb(193, 122, 222); color: aliceblue;">Non</a>
    </div>
  </form>
</div>
{% endblock %}